$colorPrimary: #fffe03;
$colorBlack: #000000;
$colorText: #0d0d0d;
$fontSemiBold: 600;
$desktopBreakpoint: 600px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

a {
  color: inherit;

  &:visited {
    color: $colorPrimary;
  }
}

.container {
  width: 100%;
  max-width: 350px;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
}

.text {
  &--primary {
    color: $colorPrimary;
  }
}

.button {
  background-color: $colorPrimary;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  font-weight: $fontSemiBold;
  cursor: pointer;
  font-size: 1rem;
  color: $colorBlack;

  &::before {
    content: url("../svg/arrow.svg");
  }
}

header {
  background-color: $colorBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
  height: 4.5rem;

  img {
    width: 100%;
    max-width: 4rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  h1,
  p {
    text-align: center;
  }

  img {
    width: 100%;
  }

  &__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.section {
  display: flex;
  justify-content: center;
  padding: 3rem 0;

  &--bg-black {
    background-color: $colorBlack;
    color: #fff;
  }

  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5rem;

    &::after {
      content: "";

      height: 6px;
      width: 90px;
      background-color: $colorPrimary;
    }
  }
}

.about {
  display: flex;
  justify-content: center;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    line-height: 1.5;
  }

  > span {
    color: $colorPrimary;
    font-size: 2rem;
    min-width: 1.5rem;
  }
}

.classes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;

  .class {
    background-color: #fff;
    border-radius: 0.5rem;
    color: $colorBlack;
    display: flex;
    height: 90px;

    &__detail {
      aspect-ratio: 1/1;
      background-color: $colorPrimary;
      border-radius: 0.5rem 0 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-shrink: 0;
      height: inherit;

      span:last-child {
        font-weight: $fontSemiBold;
      }
    }

    &__name {
      align-self: center;
      padding: 0 0.5rem;
    }
  }
}

.speaker {
  display: flex;
  flex-direction: column;

  &-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__name {
      display: flex;
      align-items: end;
      font-size: 2rem;
      gap: 0.5rem;

      // &::after {
      //   // content: url("../svg/arrow.svg");
      //   content: "";
      //   position: absolute;
      //   width: 100%;
      //   height: 6px;
      //   background-color: red;
      // }
    }

    ul {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      list-style: none;

      li::before {
        content: "\2022";
        color: #dadada;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

.call-to-action {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    text-align: center;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: inherit;
  }
}

@media only screen and (min-width: $desktopBreakpoint) {
  h1 {
    font-size: 3rem;
  }
  .container {
    max-width: 1200px;
  }

  .section {
    display: flex;
    justify-content: center;
    padding: 3rem 0;

    h2 {
      gap: 3rem;
    }
  }

  .hero {
    display: flex;
    flex-direction: row;

    .hero-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1,
    p {
      text-align: left;
    }

    img {
      order: 2;
      width: 40rem;
      margin-right: -5rem;
    }

    &__text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .about {
    padding: 5rem 0;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .items-container {
      max-width: 35rem;
    }
  }

  .speaker {
    padding: 3rem 0;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5rem 0;

      justify-content: space-between;

      img {
        max-width: 30rem;
      }
    }

    &-info {
      gap: 1rem;

      &__name {
        display: flex;
        align-items: end;
        font-size: 2rem;
        gap: 0.5rem;
      }

      ul {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: none;

        li::before {
          content: "\2022";
          color: #dadada;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }

  .call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      gap: 1rem;

      h2 {
        gap: 1rem;
        align-items: start;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p::after {
      content: "|";
      margin: 0 0.5rem;
    }

    &__contact {
      flex-direction: row;
    }
  }
}
